/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #fbf8f8;
	color: #666;
	font-family: PingFang SC,Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Microsoft Yahei,\\5FAE\8F6F\96C5\9ED1,STHeiti,\\534E\6587\7EC6\9ED1,sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after { 
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.main {
	width: 1000px;
	margin: 0 auto;
}
.title {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	line-height: 60px;
}

.content {
	width: 100%;
}

.left {
	float: left;
	width: 600px;
}

.sort, .regions {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	flex-direction: row;
}

.sort .sort-item {
	flex: 1;
	height: 80px;
	padding: 10px;
}

.sort .sort-item > div {
	position: relative;
	height: 100%;
	border: 3px solid #CCC;
	border-radius: 4px;
}

.sort .sort-item .card {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 40px;
	height: 55px;
	border: 1px solid #CCC;
	border-radius: 2px;
}

.sort .sort-item .card.hua {
	background: url(../img/hua.png) no-repeat center center;
	background-size: 60% auto;
}

.red-h {
	
}

.red-h .color, .red-n .color, .blue-h .color, .blue-n .color {
	position: absolute;
	left: 10px;
	top: 20px;
	display: block;
	width: 35px;
	height: 36px;
	background: url(../img/red.png) no-repeat 0 0;
	background-size: 100% auto;
}

.blue-h .color, .blue-n .color {
	background: url(../img/blue.png) no-repeat 0 0;
	background-size: 100% auto;
}

.sort {
	margin-bottom: 10px;
}

.regions {
	padding: 20px 0;
	border: 2px solid #fdc944;
	border-radius: 10px;
	background-color: #fff;
	overflow: auto;
	min-height: 480px;
}

.regions .region-item {
	flex: 1;
	border-right: 1px dashed #ccc;
}

.regions .region-item:last-child {
	border-right: 0 none;
}

.right {
	position: relative;
	float: left;
	padding-top: 110px;
	width: 360px;
    margin-left: 40px;
}

.replay-btn {
	position: absolute;
	top: 20px;
	left: 30px;
	width: 300px;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	background-color: #7ac989;
	border-radius: 100px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.replay-btn:hover {
	background-color: #00B51D;
}

.lists li, .region-item li {
	float: left;
	width: 80px;
	height: 110px;
	margin-left: 30px;
	margin-bottom: 20px;
	border-radius: 4px;
	cursor: pointer;
}

.region-item li {
	float: none;
	margin-left: 35px;
	cursor: default;
}

.lists li.r-0, .region-item li.r-0 {
	background-color: #f9336e;
}

.lists li.r-1, .region-item li.r-1 {
	background: #f9336e url(../img/hua.png) no-repeat center center;
	background-size: 50% auto;
}

.lists li.b-0, .region-item li.b-0 {
	background-color: #68ade6;
}

.lists li.b-1, .region-item li.b-1 {
	background: #68ade6 url(../img/hua.png) no-repeat center center;
	background-size: 50% auto;
}

.boxHover {
	opacity: .5;
}



